.question-item {
  .body {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 32px;
    min-height: 300px;

    img {
      width: 100px;
      height: auto;
      cursor: pointer;
    }
  }

  .content {
    .question {
      font-size: 24px;
      font-weight: 600;
      text-align: center;
      padding: 0 0 24px;
    }

    .answer-list {
      .answer-item {
        font-size: 16px;
        padding: 6px 0 6px 6%;
      }
    }
  }
}
