.detail-quiz {
  display: flex;
  gap: 20px;

  .left-content {
    width: 70%;

    .title {
      font-size: 28px;
      font-weight: 700;
    }

    .body {
    }

    .content {
      .question {
        font-size: 20px;
        font-weight: 600;
      }
    }

    .footer {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 16px;
    }
  }

  .right-content {
    width: 30%;
  }
}
