.dashboard {
  padding: 16px 24px;

  .title {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 32px;
  }

  .content {
    display: flex;
    gap: 24px;

    .parameter {
      width: 40%;
      display: flex;
      flex-wrap: wrap;
      gap: 20px;

      .total {
        width: calc(50% - 10px);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: 1px solid var(--primary-color);
        border-radius: 12px;
        box-shadow: 4px 4px var(--background-hover-primary);

        .text {
          font-size: 18px;
        }

        .count {
          font-size: 28px;
          font-weight: 400;
        }
      }
    }

    .chart {
      width: 60%;
      height: 400px;
    }
  }
}
