.manage-quiz {
  .title {
    font-size: 24px;
    font-weight: 600;
  }

  .add-new {
    padding: 12px 0;
  }

  .list-detail {
    margin-top: 24px;

    .title {
      font-size: 24px;
      font-weight: 600;
    }
  }
}
